@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Satoshi-Regular';
  src: url('../../public/fonts/Satoshi-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@layer components {
  .footer-heads {
    @apply text-lg md:text-3xl;
  }
  .footer-content {
    @apply text-sm md:text-base;
  }
}